* {
    all: unset;
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
}

@import "./scss/bar.scss";
@import "./scss/control_panel.scss";
@import "./scss/notifications.scss";
@import "./scss/closer.scss";