/* Very Minimal - Standard Bar Style */

* {
    border: none;
    border-radius: 0;
    font-family: sans-serif;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background-color: #222222;
    color: #ffffff;
    border-bottom: 1px solid #000000;
}

tooltip {
    background-color: #222222;
    color: #ffffff;
    border: 1px solid #000000;
    border-radius: 0;
    padding: 22px;
    font-size: 22px;
}

tooltip label {
    color: #ffffff;
    font-size: 22px;
}

calendar {
    padding: 15px;
    font-size: 14px;
}

calendar:selected {
    background-color: #285577;
    border-radius: 3px;
}

#workspaces button {
    padding: 0 12px;
    background-color: transparent;
    color: #bbbbbb;
    border-right: 1px solid #333333;
    border-left: 1px solid #333333;
}

#workspaces button:hover {
    background-color: #333333;
}

#workspaces button.focused {
    background-color: #285577;
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: #900000;
    color: #ffffff;
}

#mode {
    background-color: #900000;
    color: #ffffff;
    padding: 0 10px;
}

#window {
    padding: 0 15px;
    color: #ffffff;
    border-left: 1px solid #333333;
}


#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#backlight,
#custom-weather,
#tray,
#clock{
    padding: 0 12px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

#clock {
    padding: 0 15px;
    color: #ffffff;
    font-weight: bold;
}


#battery.charging {
    color: #00ff00;
}

#battery.warning:not(.charging) {
    color: #ffff00;
}

#battery.critical:not(.charging) {
    color: #ff0000;
    background-color: #400000;
}

#custom-power {
    font-size: 0.99rem;
  font-weight: 800;
  padding: 0px 9px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}
