.bar {
  background-color: #1e222a;
  color: #eceff4;
  padding: 0 12px;
}

.clock {
  font-weight: bold;
  color: #88c0d0;
  background-color: #2e3440;
  padding: 0 15px;
  border-radius: 12px;
}

.sys-indicators {
  background-color: #2e3440;
  padding: 0 15px;
  border-radius: 12px;
  color: #eceff4;
}

.workspaces {
  padding: 0 5px;
}

.workspaces button {
  padding: 0 4px;
}

.workspaces .dot {
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.workspaces button:hover .dot {
  background-color: #81a1c1;
}