.bar {
  background-color: #1e222a;
  color: #eceff4;
  padding: 0 12px;
}

.clock {
  font-weight: bold;
  color: #88c0d0;
  background-color: #2e3440;
  padding: 0 15px;
  border-radius: 12px;
}

.sys-indicators {
  background-color: #2e3440;
  padding: 0 15px;
  border-radius: 12px;
  color: #eceff4;
}

.workspaces button {
  padding: 0 8px;
  color: #d8dee9;
  font-weight: bold;
}

.workspaces button:hover {
  color: #88c0d0;
}
