.control-panel {
    background-color: #1e222a;
    border-radius: 12px;
    padding: 20px;
    border: 2px solid #3b4252;
}

.control-panel .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.control-panel .btn {
    background-color: #2e3440;
    padding: 10px;
    border-radius: 8px;
}

.control-panel .btn:hover {
    background-color: #3b4252;
}

.vol-slider trough {
    min-height: 5px;
    min-width: 100px;
}